.actorPhoto
{
 float:left;
 max-height:50px;
 max-width:50px;
 margin-right:10px;	
}
.actorName
{
 font-weight:bold;	
 line-height: 1.28;
 font-size:12px;
 color:#555555;
 text-align:left;
 padding-bottom:3px;
 
}
.actorName a
{
text-decoration:none; 
color:#555555;
}
.messageBody
{
	color: #000000;
    font-size: 11px;
    font-weight: normal;
    direction: ltr;
}
.story_wrapper
{
	padding: 12px 35px 14px 18px;
	text-align:left;
}